<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>hello {{name}}'s directive</h3>
</div>
<div style="text-align:center">

  <div style="text-align:center">
    <p>
      <span (click)="showSomething('style')">1、属性指令：ngStyle</span>&nbsp;&nbsp;
      <span (click)="showSomething('class')">2、结构指令：ngClass</span>&nbsp;&nbsp;
    </p>
    <p>
      <span (click)="showSomething('if')">3、结构指令：if</span>&nbsp;&nbsp;
      <span (click)="showSomething('for')">4、结构指令：for</span>&nbsp;&nbsp;
      <span (click)="showSomething('switch')">5、结构指令：switch</span>&nbsp;&nbsp;
    </p>
  </div>
  <h4 *ngIf="showWhat==='style' || showWhat==='class'">属性指令(Attribute directive): 用于改变组件的外观或行为</h4>
  <div *ngIf="showWhat==='style'">
    <h4>ngStyle指令： 用于设定给定 DOM 元素的 style 属性</h4>
    <div>
      <h5>绑定常量</h5>
      <p [ngStyle]="{'color': 'red'}">[ngStyle]="{{content1}}"</p>
      <h5>绑定表达式</h5>
      <p [ngStyle]="{'color': fontColor}">[ngStyle]="{{content2}}"</p>
      <p [ngStyle]="{'color': getColor(fontColor)}">[ngStyle]="{{content3}}"</p>
      <p [ngStyle]="{'color': fontColor === 'blue' ? 'blue' : 'red'}">[ngStyle]="{{content4}}"</p>
    </div>
  </div>
  <div *ngIf="showWhat==='style'">
    <h4>[style.property语法]</h4>
    <div>
      <h5>绑定常量</h5>
      <p [style.color]="'red'">[style.color]="'red'"</p>
      <h5>绑定表达式</h5>
      <p [style.color]="fontColor">[style.color]="fontColor"</p>
      <p [style.color]="getColor(fontColor)">[style.color]="getColor(fontColor)"</p>
      <p [style.color]="fontColor === 'blue' ? 'blue' : 'red'">[style.color]="fontColor === 'blue' ? 'blue' : 'red'"</p>
    </div>
  </div>
  <div *ngIf="showWhat==='class'">
    <h4>ngClass指令：用于动态的设定 DOM 元素的 CSS class</h4>
    <div>
      <h5>绑定常量</h5>
      <p [ngClass]="'text-red'">[ngClass]="{{text1}}"</p>
      <p [ngClass]="{'text-red': true}">[ngClass]="{{text1}}"</p>
      <h5>绑定表达式</h5>
      <p [ngClass]="{'text-blue': fontColor === 'blue'}">[ngClass]="{{text2}}"</p>
      <p [ngClass]="getTextColor('text-blue')">[ngClass]="{{text3}}"</p>
      <p [ngClass]="fontColor === 'blue' ? 'text-blue' : 'text-red'">[ngClass]="{{text4}}"</p>
      <h5>绑定多个class</h5>
      <p [ngClass]="{'text-blue': fontColor === 'blue','text-bold': fontBold === 'bold','text-big': fontBig === 'big'}">[ngClass]="{{text2}}"</p>
    </div>
  </div>

  <div *ngIf="showWhat==='if'">
    ngIf指令：根据表达式的值，显示或移除元素
  </div>

  <div *ngIf="showWhat==='for'">
    ngFor指令：使用可迭代的每个项作为模板的上下文来重复模板，类似于 Ng 1.x 中的 ng-repeat 指令
    <ul>
      <li *ngFor="let data of testArray">
        {{data}}
      </li>
    </ul>
  </div>

  <div *ngIf="showWhat==='switch'">
    ngSwitch指令：它包括两个指令，一个属性指令和一个结构指令。它类似于 JavaScript 中的 switch 语句
    <input type="radio" [name]="'radio1'" (click)="switchRadio('blue')">blue
    <input type="radio" [name]="'radio1'" (click)="switchRadio('red')">red
    <input type="radio" [name]="'radio1'" (click)="switchRadio('green')">green
    <ul [ngSwitch]='radioColor'>
      <li *ngSwitchCase="'blue'" class='text-blue'>
        blue
      </li>
      <li *ngSwitchCase="'green'" class='text-green'>
        green
      </li>
      <li *ngSwitchDefault class='text-red'>
        blue
      </li>
    </ul>
  </div>

</div>

















<div style="margin-bottom: 300px;">

</div>
